@model TwitterClone.Models.PersonTweetModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Follow</h3>

            <div class="input-group md-form form-sm form-2 pl-0">
                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="input-group-addon">
                        <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="navbar-collapse collapse">
                <ul class="list-unstyled">
                    <li>
                        @Html.ActionLink("1", "UpdateTweet", "Home") <span class="text-primary">Followers</span>
                    </li>
                    <li>
                        @Html.ActionLink("3", "UpdateTweet", "Home") <span>Following</span>
                    </li>
                    <li>
                        @Html.ActionLink("12", "UpdateTweet", "Home") <span>Tweets</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="main-content">
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                @using (Html.BeginForm("UpdateTweet", "Home") )
                {
                    @Html.AntiForgeryToken()
                <div class="form-group">
                    <h2>What are you doing?</h2>
                    @Html.TextAreaFor(model => model.Tweet.Message, new { @class = "form-control col-xs-12 txtminwidth", @rows = "3", @maxlength = "130" })
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class = "btn btn-primary pull-right" />
                        </div>
                    </div>
                    @*@Html.ActionLink("Update", "NewTweet", "Home", Model.Tweet, new { @class = "btn btn-primary pull-right" })*@
                </div>

                }
                <br />
                @{
                    Html.RenderPartial("UpdateTweet", Model);
                }
            </div>
        </nav>
    </div>
</div>

